//common
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
  color: #fff;

  background-image: url(../img/bg-img01.png);
  background-size: cover;
}

ul{
  margin: 0;
  padding: 0;

    li{
      list-style: none;
    }
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

//background
.Background{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;

    .background-line-a{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      overflow: hidden;

        div{
          width: 120%;
          height: 60px;
          background-color: #796bae;
          transform: rotate(-10deg);
          transform-origin: center right;
          position: absolute;
          top: -4vw;
          right: -10%;

          opacity: 0;
          animation: line-move .5s ease-out forwards;
          animation-delay: .3s;
        }
    }

    .background-line-b{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      overflow: hidden;

        div{
          width: 120%;
          height: 250px;
          background-color: #3f2e7e;
          opacity: 0.6;
          transform: rotate(10deg);
          transform-origin: center left;
          position: absolute;
          top: 10em;
          left: -10%;

          opacity: 0;
          animation: line-move .5s ease-out forwards;
          animation-delay: .6s;
        }

        div::after{
          content: '';
          width: 120%;
          height: 30px;
          background-color: #3f2e7e;
          opacity: 0.6;
          transform-origin: center left;
          position: absolute;
          bottom: -20%;
          left: -10%;
          display: block;
        }
    }
}

@keyframes line-move{
  0%{
    width: 0;
    float: right;
    opacity: 0;
  }
  100%{
    width: 120%;
    opacity: 1;
  }
}


//----- main -----//
main{
  width: 100%;
  height: auto;

  //top
  .top{
    width: 100%;
    height: 450px;
    overflow: hidden;

      .top-img{
        width: 100%;
        height: 100%;
        
        opacity: 0;

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
      }
      .top-img.SPsize{
        transition: opacity 1s;

        animation: fadein 1s ease-out forwards;
        animation-delay: 1s;
      }
      .top-img.addPCsize{
        transform: translateY(-30px);
        transition: opacity .5s;

        animation: showdownImg .5s ease-out forwards;
        animation-delay: 1s;
      }
  }

  @keyframes showdownImg{
    0%{
      opacity: 0;
      transform: translateY(-30px);
    }
    100%{
      opacity: 1;
      transform: translate(0);
    }
  }

  //news
  .news{
    width: 260px;
    height: 230px;

    margin: 42px auto;
    opacity: 0;
    
      .news-bar{
        display: flex;
        align-items: center;
        height: 10%;

          p{
            margin: 0 auto;
            font-weight: bold;
          }
      }

      .news-bar::before{
        content: '';
        height: 1px;
        flex-grow: 1;
        background-color: #fff;
        margin-right: 12px;
      }

      .news-bar::after{
        content: '';
        height: 1px;
        flex-grow: 1;
        background-color: #fff;
        margin-left: 12px;
      }

      .news-block{
        width: 100%;
        height: 90%;

        overflow: scroll;
        border-bottom: 1px solid #fff;

          dl{
            width: 90%;
            height: auto;
            margin: 24px auto;
            opacity: 0;

              dt{
                font-size: 14px;
                font-weight: bold;
              }

              dd{
                margin: 4px 0 0 0;
                font-size: 18px;
              }
          }
      }
  }

  .news.SPsize{
    animation: newsUp .5s ease-out forwards;

      .news-block{
        dl{
          animation: fadein .5s linear forwards;
          animation-delay: .5s;
        }
      }
  }

  @keyframes newsUp{
    0%{
      transform: translateY(80px);
      opacity: 0;
    }
    100%{
      transform: translate(0);
      opacity: 1;
    }
  }
  .news.addPCsize{
    opacity: 0;

    animation: fadein .5s linear forwards;
    animation-delay: 1.5s;

      dl{
        animation: fadein .5s linear forwards;
        animation-delay: 1.8s;
      }
  }

  //work
  .work{
    width: 260px;
    height: 230px;

    margin: 42px auto;
    opacity: 0;

      .work-bar{
        display: flex;
        align-items: center;
        height: 10%;

          p{
            margin: 0 auto;
            font-weight: bold;
          }
      }

      .work-bar::before{
        content: '';
        height: 1px;
        flex-grow: 1;
        background-color: #fff;
        margin-right: 12px;
      }

      .work-bar::after{
        content: '';
        height: 1px;
        flex-grow: 1;
        background-color: #fff;
        margin-left: 12px;
      }

      .work-block{
        width: 100%;
        height: 90%;

        overflow: scroll;
        border-bottom: 1px solid #fff;

          dl{
            width: 90%;
            height: auto;
            margin: 24px auto;
            opacity: 0;

              dt{
                font-size: 14px;
                font-weight: bold;
              }

              dd{
                margin: 4px 0 0 0;
                font-size: 18px;
              }
          }
      }
  }

  .work.SPsize{
    animation: workUp .5s ease-out forwards;

      .work-block{
        dl{
          animation: fadein .5s linear forwards;
          animation-delay: .5s;
        }
      }
  }

  @keyframes workUp{
    0%{
      transform: translateY(80px);
      opacity: 0;
    }
    100%{
      transform: translate(0);
      opacity: 1;
    }
  }

  .work.addPCsize{
    opacity: 0;

    animation: fadein .5s linear forwards;
    animation-delay: 2.3s;

      .work-block{
        dl{
          animation: fadein .5s linear forwards;
          animation-delay: 2.8s;
        }
      }
  }

  //footer
  footer{
    width: 100%;
    height: auto;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

      .sns-icon{
        width: 50%;
        height: auto;
        margin: 24px auto;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

          .twitter{
            width: 35px;
            height: 35px;
            background: #fff;
            border-radius: 50%;
            opacity: 0;
            
            position: relative;

              i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #000;
                font-size: 24px;
              }
          }

          .twitter.SPsize{

            animation: fadein .5s linear forwards;
            animation-delay: .3s;
          }

          .twitter.addPCsize{

            animation: fadein .5s linear forwards;
            animation-delay: 3s;
          }

          .instagram{
            width: 35px;
            height: 35px;
            background: #fff;
            border-radius: 50%;
            opacity: 0;
            
            position: relative;

              i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #000;
                font-size: 24px;
              }
          }

          .instagram.SPsize{

            animation: fadein .5s linear forwards;
            animation-delay: .6s;
          }

          .instagram.addPCsize{

            animation: fadein .5s linear forwards;
            animation-delay: 3.3s;
          }
      }

      small{
        font-size: 10px;
        width: auto;
        height: auto;
        text-align: center;

        margin-bottom: 10px;
      }
  }
}

@keyframes fadein{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

//--------------------------------------------------- responsive design -----------------------------------------------//

// 321px - 375px
@media(min-width: 321px) and (max-width: 375px){
  main{
    .top{
      height: 500px;
    }
  }

}

// 376px - 414px
@media(min-width: 376px) and (max-width: 414px){
  main{
    .top{
      height: 550px;
    }
  
    .news{
      width: 300px;
      height: 250px;
    }
  
    .work{
      width: 300px;
      height: 250px;
    }
  
    footer{
      height: 200px;
    }
  }
}

// 415px - 500px
@media(min-width: 415px) and (max-width: 500px){
  main{
    .top{
      width: 250px;
      height: 500px;
    }
  
    .news{
      position: absolute;
      top: 10px;
      right: 30px;
  
      width: 180px;
      height: 150px;
  
      .news-block{
        dl{
          dt{
            font-size: 12px;
          }
          dd{
            font-size: 14px;
          }
        }
      }
    }
  
    .work{
      position: absolute;
      top: 230px;
      right: 30px;
  
      width: 180px;
      height: 150px;
  
      .work-block{
        dl{
          dt{
            font-size: 12px;
          }
          dd{
            font-size: 14px;
          }
        }
      }
    }
  
    footer{
      margin-top: 64px;
    }
  }
}

// 500px - 600px
@media(min-width: 500px) and (max-width: 600px){
  main{
    max-width: 550px;
    position: relative;
    margin: 0 auto;
    .top{
      width: 280px;
      height: 450px;
    }
  
    .news{
      position: absolute;
      top: 10px;
      right: 30px;
  
      width: 180px;
      height: 150px;
  
        .news-block{
          dl{
            dt{
              font-size: 12px;
            }
            dd{
              font-size: 14px;
            }
          }
        }
    }
  
    .work{
      position: absolute;
      top: 230px;
      right: 30px;
  
      width: 180px;
      height: 150px;
  
        .work-block{
          dl{
            dt{
              font-size: 12px;
            }
            dd{
              font-size: 14px;
            }
          }
        }
    }
  
    footer{
      margin-top: 64px;
    }
  }
}
// 601px - 768px
@media(min-width: 601px) and (max-width: 768px){
  main{
    max-width: 630px;
    position: relative;
    margin: 0 auto;

    .top{
      width: 280px;
      height: 650px;
    }
  
    .news{
      position: absolute;
      top: 50px;
      right: 30px;
  
      width: 250px;
    }
  
    .work{
      position: absolute;
      top: 350px;
      right: 30px;
  
      width: 250px;
    }
  
    footer{
      margin-top: 64px;
    }
  }
}

// 769px - 896px
@media(min-width: 769px) and (max-width: 896px){
  main{
    max-width: 800px;
    position: relative;
    margin: 0 auto;

    .top{
      width: 500px;
      height: 750px;
    }
  
    .news{
      position: absolute;
      top: 50px;
      right: 50px;
  
      width: 230px;
    }
  
    .work{
      position: absolute;
      top: 350px;
      right: 50px;
      
      width: 230px;
    }
  
    footer{
      margin-top: 64px;
    }
  }
}

// 897px - 950px
@media(min-width: 897px) and (max-width: 950px){
  main{
    .top{
      width: 500px;
      height: 700px;
    }
  
    .news{
      position: absolute;
      top: 50px;
      right: 35px;
  
      width: 330px;
      height: 250px;
  
        .news-bar{
          p{
            font-size: 24px;
          }
        }
  
        .news-block{
          dl{
            dt{
              font-size: 20px;
            }
            dd{
              font-size: 24px;
            }
          }
        }
    }
  
    .work{
      position: absolute;
      top: 400px;
      right: 35px;
  
      width: 330px;
      height: 250px;
  
        .work-bar{
          p{
            font-size: 24px;
          }
        }
  
        .work-block{
          dl{
            dt{
              font-size: 20px;
            }
            dd{
              font-size: 24px;
            }
          }
        }
    }
  
    footer{
      margin-top: 64px;
  
        .sns-icon{
          .twitter{
            width: 50px;
            height: 50px;
            i{
              font-size: 32px;
            }
          }
          .instagram{
            width: 50px;
            height: 50px;
            i{
              font-size: 32px;
            }
          }
        }
  
        small{
          font-size: 18px;
        }
    }  .top{
    width: 500px;
    height: 700px;
  }

  .news{
    position: absolute;
    top: 50px;
    right: 35px;

    width: 330px;
    height: 250px;

      .news-bar{
        p{
          font-size: 24px;
        }
      }

      .news-block{
        dl{
          dt{
            font-size: 20px;
          }
          dd{
            font-size: 24px;
          }
        }
      }
  }

  .work{
    position: absolute;
    top: 400px;
    right: 35px;

    width: 330px;
    height: 250px;

      .work-bar{
        p{
          font-size: 24px;
        }
      }

      .work-block{
        dl{
          dt{
            font-size: 20px;
          }
          dd{
            font-size: 24px;
          }
        }
      }
  }

  footer{
    margin-top: 64px;

      .sns-icon{
        .twitter{
          width: 50px;
          height: 50px;
          i{
            font-size: 32px;
          }
        }
        .instagram{
          width: 50px;
          height: 50px;
          i{
            font-size: 32px;
          }
        }
      }

      small{
        font-size: 18px;
      }
  }
  }
}

// 950px - 1024px
@media(min-width: 950px) and (max-width: 1024px){
  main{
    max-width: 900px;
    position: relative;
    margin: 0 auto;

    .top{
      width: 450px;
      height: 900px;
    }
  
    .news{
      position: absolute;
      top: 50px;
      right: 50px;
  
      width: 350px;
      height: 300px;
  
        .news-bar{
          p{
            font-size: 24px;
          }
        }
  
        .news-block{
          dl{
            dt{
              font-size: 20px;
            }
            dd{
              font-size: 24px;
            }
          }
        }
    }
  
    .work{
      position: absolute;
      top: 400px;
      right: 50px;
  
      width: 350px;
      height: 300px;
  
        .work-bar{
          p{
            font-size: 24px;
          }
        }
  
        .work-block{
          dl{
            dt{
              font-size: 20px;
            }
            dd{
              font-size: 24px;
            }
          }
        }
    }
  
    footer{
      margin-top: 64px;
  
        .sns-icon{
          .twitter{
            width: 50px;
            height: 50px;
            i{
              font-size: 32px;
            }
          }
          .instagram{
            width: 50px;
            height: 50px;
            i{
              font-size: 32px;
            }
          }
        }
  
        small{
          font-size: 18px;
        }
    }
  }
}

// 1025px - 1300px
@media(min-width: 1025px) and (max-width: 1300px){
  main{
    max-width: 1150px;
    position: relative;
    margin: 0 auto;

    .top{
      width: 650px;
      height: 900px;
    }
  
    .news{
      position: absolute;
      top: 50px;
      right: 90px;
  
      width: 350px;
      height: 300px;
  
        .news-bar{
          p{
            font-size: 24px;
          }
        }
  
        .news-block{
          dl{
            dt{
              font-size: 20px;
            }
            dd{
              font-size: 24px;
            }
          }
        }
    }
  
    .work{
      position: absolute;
      top: 500px;
      right: 90px;
  
      width: 350px;
      height: 300px;
  
        .work-bar{
          p{
            font-size: 24px;
          }
        }
  
        .work-block{
          dl{
            dt{
              font-size: 20px;
            }
            dd{
              font-size: 24px;
            }
          }
        }
    }
  
    footer{
      margin-top: 24px;
      height: 300px;
  
        .sns-icon{
          .twitter{
            width: 50px;
            height: 50px;
            i{
              font-size: 32px;
            }
          }
          .instagram{
            width: 50px;
            height: 50px;
            i{
              font-size: 32px;
            }
          }
        }
  
        small{
          font-size: 18px;
        }
    }
  }
}

// 1301px -
@media(min-width: 1301px){
  main{
    max-width: 1400px;
    position: relative;
    margin: 0 auto;

    .top{
      width: 800px;
      height: 1000px;
  
  
    }
  
    .news{
      position: absolute;
      top: 50px;
      right: 50px;
  
      width: 500px;
      height: 350px;
  
        .news-bar{
          p{
            font-size: 24px;
          }
        }
  
        .news-block{
          dl{
            dt{
              font-size: 20px;
            }
            dd{
              font-size: 24px;
            }
          }
        }
    }
  
    .work{
      position: absolute;
      top: 500px;
      right: 50px;
  
      width: 500px;
      height: 350px;
  
        .work-bar{
          p{
            font-size: 24px;
          }
        }
  
        .work-block{
          dl{
            dt{
              font-size: 20px;
            }
            dd{
              font-size: 24px;
            }
          }
        }
    }
  
    footer{
      margin-top: 24px;
      height: 300px;
  
        .sns-icon{
          .twitter{
            width: 50px;
            height: 50px;
            i{
              font-size: 32px;
            }
          }
          .instagram{
            width: 50px;
            height: 50px;
            i{
              font-size: 32px;
            }
          }
        }
  
        small{
          font-size: 18px;
        }
    }
  }
}
//------------------------------------------------------------------------------------------------------------------------//