* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: cursive, fantasy, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: #1b1b1b;
  color: #fff;
}

header {
  width: 100%;
  height: 100px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  width: 40%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo a {
  display: block;
  width: 80%;
  height: 100%;
}

header .logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.svg {
  width: 1000px;
  height: 500px;
  margin: 64px auto;
}

.list {
  width: 1000px;
  height: 800px;
  margin: 0 auto 64px;
  position: relative;
}

.list #left,
.list #right {
  font-size: 64px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.list #left:hover,
.list #right:hover {
  cursor: pointer;
  opacity: .5;
}

.list #left {
  left: -10%;
}

.list #right {
  right: -10%;
}

.list #left.hidden,
.list #right.hidden {
  display: none;
}

.list .ttl {
  height: 10%;
  font-size: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .container {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.list .container ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.list .container ul li {
  min-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

.list .container ul li .box {
  -webkit-box-shadow: inset 0 0 30px var(--clr);
          box-shadow: inset 0 0 30px var(--clr);
  width: 100%;
  height: 90%;
  border-radius: 50px;
}

.list .container ul li .inside1,
.list .container ul li .inside2,
.list .container ul li .inside3 {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: var(--clr);
  border-radius: 50px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .container ul li .inside1 a,
.list .container ul li .inside2 a,
.list .container ul li .inside3 a {
  display: block;
  color: #fff;
  font-size: 64px;
}

.list .container ul li .inside1 a:hover,
.list .container ul li .inside2 a:hover,
.list .container ul li .inside3 a:hover {
  opacity: .5;
}

.list .container ul li .inside1.appear,
.list .container ul li .inside2.appear,
.list .container ul li .inside3.appear {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.list .container ul li button {
  display: block;
  padding: 4px 12px;
  width: 20%;
  height: auto;
  font-size: 24px;
  margin: 12px auto 0;
  cursor: pointer;
  background: var(--clr);
  color: #fff;
  border-radius: 30px;
  -webkit-transition: letter-spacing .5s;
  transition: letter-spacing .5s;
  text-align: center;
}

.list .container ul li button:hover {
  letter-spacing: 3px;
}

footer {
  width: 100%;
  height: 100px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1877f2;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .list {
    width: 800px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .svg {
    width: 700px;
  }
  .list {
    width: 700px;
  }
  .list .ttl {
    position: absolute;
    top: -15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 32px;
  }
  .list #left,
  .list #right {
    display: none;
  }
  .list .container {
    width: 100%;
    height: 100%;
  }
  .list .container ul {
    width: 100%;
    height: 100%;
    display: block;
  }
  .list .container ul li {
    min-width: 100%;
    width: 100%;
    height: calc((100% - 66px) / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list .container ul li .box {
    width: 60%;
    height: 100%;
  }
  .list .container ul li .inside1,
  .list .container ul li .inside2,
  .list .container ul li .inside3 {
    width: 60%;
    height: 100%;
  }
  .list .container ul li .inside1 a,
  .list .container ul li .inside2 a,
  .list .container ul li .inside3 a {
    font-size: 32px;
  }
  .list .container ul li button {
    width: 100px;
    height: 50px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .svg {
    width: 400px;
    height: 400px;
  }
  .list {
    width: 400px;
  }
  .list .ttl {
    position: absolute;
    top: -15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 32px;
  }
  .list #left,
  .list #right {
    display: none;
  }
  .list .container {
    width: 100%;
    height: 100%;
  }
  .list .container ul {
    width: 100%;
    height: 100%;
    display: block;
  }
  .list .container ul li {
    min-width: 100%;
    width: 100%;
    height: calc((100% - 66px) / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list .container ul li .box {
    width: 60%;
    height: 100%;
  }
  .list .container ul li .inside1,
  .list .container ul li .inside2,
  .list .container ul li .inside3 {
    width: 60%;
    height: 100%;
  }
  .list .container ul li .inside1 a,
  .list .container ul li .inside2 a,
  .list .container ul li .inside3 a {
    font-size: 24px;
  }
  .list .container ul li button {
    width: 80px;
    height: 40px;
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .svg {
    width: 300px;
    height: 300px;
  }
  .list {
    width: 300px;
  }
  .list .ttl {
    position: absolute;
    top: -15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 32px;
  }
  .list #left,
  .list #right {
    display: none;
  }
  .list .container {
    width: 100%;
    height: 100%;
  }
  .list .container ul {
    width: 100%;
    height: 100%;
    display: block;
  }
  .list .container ul li {
    min-width: 100%;
    width: 100%;
    height: calc((100% - 120px) / 3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list .container ul li .box {
    width: 60%;
    height: 100%;
  }
  .list .container ul li .inside1,
  .list .container ul li .inside2,
  .list .container ul li .inside3 {
    width: 60%;
    height: 100%;
  }
  .list .container ul li .inside1 a,
  .list .container ul li .inside2 a,
  .list .container ul li .inside3 a {
    font-size: 18px;
  }
  .list .container ul li button {
    width: 80px;
    height: 40px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=design.css.map */